* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

#head-section {
  background: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar {
  background-color: transparent !important;
  border-bottom: 2px #ffffff solid;
}

.navbar button {
  border: none;
}

.navbar button i {
  font-size: 24px;
  color: #ffffff;
}

.navbar a {
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 575px) {
  .navbar a {
    text-align: center;
  }
}

#header {
  margin-top: 125px;
  margin-right: 20%;
}

#header p {
  color: #ffffff;
  font-size: 188px;
  font-family: "Vidaloka", serif;
  margin-bottom: -120px;
}

@media screen and (max-width: 1024px) {
  #header {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #header p {
    font-size: 168px;
    margin-bottom: -80px;
  }
}

@media screen and (max-width: 768px) {
  #header p {
    font-size: 154px;
    margin-bottom: -75px;
  }
}

@media screen and (max-width: 425px) {
  #header p {
    font-size: 144px;
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 375px) {
  #header p {
    font-size: 134px;
    margin-bottom: -50px;
  }
}

#info-section {
  background: url("../img/section-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#info-section div {
  position: absolute;
  background-color: #c4c0bc;
  width: 75%;
  z-index: 2;
}

#info-section div h1 {
  color: #b4673b;
  font-family: "Vidaloka", serif;
  font-size: 42px;
}

#info-section div hr {
  border: 1px solid #b4673b;
  margin: auto;
}

#info-section div hr:first-of-type {
  width: 55%;
}

#info-section div hr:last-of-type {
  width: 65%;
}

#info-section div p {
  color: #262525;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

#info-section div .btn {
  background-color: #7c958a;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 10px 60px;
}

#info-section hr:last-child {
  width: 100%;
  border: 2px solid #b4673b;
}

@media screen and (max-width: 1440px) {
  #info-section div h1 {
    font-size: 42px;
  }
  #info-section div p {
    color: #262525;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
  }
  #info-section div .btn {
    font-size: 18px;
    padding: 8px 50px;
  }
}

@media screen and (max-width: 1024px) {
  #info-section div h1 {
    font-size: 36px;
  }
  #info-section div p {
    color: #262525;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
  #info-section div .btn {
    font-size: 16px;
    padding: 6px 40px;
  }
}

@media screen and (max-width: 768px) {
  #info-section div {
    width: 100%;
  }
  #info-section div h1 {
    font-size: 32px;
  }
  #info-section div p {
    color: #262525;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  #info-section div .btn {
    font-size: 14px;
    padding: 6px 40px;
  }
  #info-section hr:last-child {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  #info-section div h1 {
    font-size: 24px;
  }
  #info-section div p {
    color: #262525;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  #info-section div hr:first-of-type {
    width: 75%;
  }
  #info-section div hr:last-of-type {
    width: 85%;
  }
  #info-section div .btn {
    font-size: 12px;
    padding: 6px 40px;
  }
}

#carouselExampleIndicators .sld-txt div {
  padding: 0 100px;
}

#carouselExampleIndicators .sld-txt hr {
  width: 45%;
  border: 1px solid #ffffff;
}

#carouselExampleIndicators .sld-txt h1,
#carouselExampleIndicators .sld-txt p {
  color: #ffffff !important;
}

#carouselExampleIndicators .sld-txt h1 {
  font-family: "Vidaloka", serif;
  font-size: 42px;
}

#carouselExampleIndicators .sld-txt p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

#carouselExampleIndicators #sld1 {
  background: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#carouselExampleIndicators #sld2 {
  background: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#carouselExampleIndicators #sld3 {
  background: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#carouselExampleIndicators ol {
  margin-bottom: 50px;
}

#carouselExampleIndicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #7c958a;
}

@media screen and (max-width: 1440px) {
  #carouselExampleIndicators .sld-txt div {
    padding: 0 75px;
  }
}

@media screen and (max-width: 1024px) {
  #carouselExampleIndicators .sld-txt div {
    padding: 0 75px;
  }
  #carouselExampleIndicators .sld-txt hr {
    display: none;
  }
  #carouselExampleIndicators .sld-txt h1 {
    font-size: 36px;
  }
  #carouselExampleIndicators .sld-txt p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #carouselExampleIndicators .sld-txt div {
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  #carouselExampleIndicators .sld-txt div {
    padding: 0 25px;
  }
  #carouselExampleIndicators .sld-txt h1 {
    font-size: 24px;
  }
  #carouselExampleIndicators .sld-txt p {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  #carouselExampleIndicators .sld-txt div {
    padding: 0 25px;
  }
}

#products {
  background-color: #c4c0bc;
}

#products .title hr {
  width: 30%;
  border: 2px solid #b4673b;
}

#products .title h1 {
  font-family: "Vidaloka", serif;
  font-size: 36px;
  color: #b4673b;
}

#products .text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #262525;
}

#products .container .card {
  background-color: #262525;
  border: none;
}

#products .container .card .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border: none;
  background-color: #7c958a;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#products .container .card .btn:last-child {
  background-color: #b4673b;
}

#products .click {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #b4673b;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  #products .title hr {
    width: 20%;
  }
  #products .title h1 {
    font-size: 24px;
  }
  #products .text {
    font-size: 18px;
  }
  #products .container .card .btn {
    font-size: 16px;
  }
  #products .click {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #products .title {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #products .title hr {
    display: none;
  }
  #products .title h1 {
    font-size: 24px;
  }
  #products .text {
    font-size: 16px;
  }
  #products .container .card .btn {
    font-size: 14px;
  }
  #products .click {
    font-size: 16px;
  }
}

#contact {
  color: #ffffff !important;
}

#contact .contact-section {
  background-color: #6a6e70;
}

#contact .contact-section .contact-item {
  width: 33%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

#contact .contact-section .contact-item h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#contact .contact-section .contact-item p {
  font-size: 16px;
  margin-bottom: 0;
}

#contact .contact-section #site h1 {
  padding-left: 180px;
}

#contact .contact-section ul {
  padding-left: 200px;
}

#contact #rights {
  background-color: #7c958a;
}

#contact #rights p {
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 1440px) {
  #contact .contact-section .contact-item {
    width: 50%;
  }
  #contact #about {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #contact .contact-section .contact-item {
    width: 100%;
  }
  #contact #site {
    display: none;
  }
  #contact #rights p {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  #contact .contact-section .contact-item {
    font-size: 14px;
  }
  #contact .contact-section .contact-item h1 {
    font-size: 16px;
  }
  #contact .contact-section .contact-item p {
    font-size: 12px;
    margin-bottom: 0;
  }
  #contact #rights p {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */